*{
    margin: 0;
    padding: 0;


}
.wrapper{
    display: inline-flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.wrapper a{
    width: 220px;
    height: 70px;
    text-decoration: none;
    border: 1px solid #339966;
    color: #000;
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    margin: 10px;
    font-family: sans-serif;
    position: relative;
}

.wrapper a span{
    background: #339966;
    position: absolute;
    transition: 0.8S ease-out;
    z-index: -1;
}
.wrapper a:hover
{
    color: #fff;
    transition: 0.8S;

}
.to-right
{
    width: 0px;
    height: 70px;
    left: 0;
    top: 0;


}
.wrapper a:hover .to-right{
    width: 220px;
    transition: 0.8S;
   


}
.to-left
{
    width: 0px;
    height: 70px;
    right: 0;
    top: 0;


}
.wrapper a:hover .to-left{
    width: 220px;
    transition: 0.8S;
   


}
.to-top
{
    width: 220px;
    height: 0px;
    right: 0;
    bottom: 0;


}
.wrapper a:hover .to-top{
    height: 70px;
    transition: 0.8S;
   


}
.to-bottom
{
    width: 220px;
    height: 0px;
    right: 0;
    top: 0;


}
.wrapper a:hover .to-bottom{
    height: 70px;
    transition: 0.8S;
   


}
.to-diagonal
{
    width: 0px;
    height:0px;
    left: 0;
    bottom: 0;


}
.wrapper a:hover .to-diagonal{
    height: 70px;
    width: 220px;
    transition: 0.8S;
    
   


}